.difficult-word {
  position: relative;
  font-style: italic;
}

.difficult-word__explained-modal {
  display: none;
  position: absolute;
  top: calc( -1 * var(--gutter-default) / 2);
  left: calc( -1 * var(--gutter-default) / 2);
  padding: calc( var(--gutter-default) / 2);
  background: white;
  border: 1px solid var(--color-font);
  line-height: var(--line-height-small);
  width: var(--grid-pop-up);
  font-style: normal;
  z-index: 100;
}

.difficult-word:hover .difficult-word__explained-modal {
  display: block;
}

.difficult-word__explained-title {
  display: block;
  margin-bottom: var(--gutter-default);
  font-weight: bold;
}

.difficult-word__explained-text {
  display: block;
  line-height: var(--line-height);
}

.difficult-word__explained-modal a {
  display: inline-block;
  margin-top: var(--gutter-default);
}
