{% macro wordExplainer(word, explainText, source) %}
{% from '../icon/icon.html' import icon %}
<span class="difficult-word">
  {{ word }}
  <span class="difficult-word__explained-wrapper">
    {{ icon('information') }}
    <span class="difficult-word__explained-modal">
      <span class="difficult-word__explained-title">{{ word }}</span>
      {{ explainText | safe }}
      {% if source %}
        <a href="{{ bron }}">Bronvermelding</a>
      {% endif %}
    </span>
  </span>
</span>
{% endmacro %}
