@import '../variables/variables.css';

@font-face {
  font-family: 'Noto';
  src: url('../fonts/noto-regular.woff2') format('woff2'), url('../fonts/noto-regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway-bold.woff2') format('woff2'), url('../fonts/raleway-bold.woff') format('woff');
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway-regular.woff2') format('woff2'), url('../fonts/raleway-regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

body {
  color: var(--color-font);
  font-family: 'Noto', 'Georgia', serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--color-font);
  transition: var(--transition-speed);
}

a:hover {
  color: var(--color-hover);
}

h1, .h1, h2, .h2, h3 , .h3, h4, .h4, h5, .h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  letter-spacing: var(--letter-spacing);
}

h1, .h1 {
  font-size: var(--font-heading-1);
}

h2, .h2 {
  font-size: var( --font-heading-2);
}

h3, .h3 {
  font-size: var(--font-heading-3);
}

p {
  line-height: var(--line-height);
}
