{% extends "views/_base/_base.html" %}

{% from "components/accordion/accordion.html" import accordion %}
{% from "components/gallery/gallery.html" import gallery %}
{% from "components/video/video.html" import video %}
{% from "components/trello/trello.html" import trello %}
{% from "components/word-explainer/word-explainer.html" import wordExplainer %}

{% set head_title = "Afstudeerproject documentatie Casper Boutens" %}
{% set head_description = "" %}

{% block page_content %}
  {% include 'components/app-header/app-header.html' %}
  <div class="wrapper">
    {% include 'components/navigation/navigation.html' %}
    <div data-main>
      <section>
        {% markdown 'chapters/proem.md' %}
      </section>
      <section>
        {% markdown 'chapters/Management-summary.md' %}
      </section>
      <section>
        {% markdown 'chapters/introduction.md' %}
      </section>
      <section>
        {% markdown 'chapters/issue-definition.md' %}
      </section>
      <section>
        {% markdown 'chapters/conclusion.md' %}
      </section>
      <section>
        {% markdown 'chapters/attachment.md' %}
      </section>
    </div>
  </div>
{% endblock %}

{% block page_scripts %}
	<script src="/assets/js/script.js"></script>
{% endblock %}
