* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  position: relative;
  display: inline-block;
}

.score-ui {
  position: absolute;
  top: 50%;
  right: -90px;
  transform-origin: bottom center;
  transform: rotate(90deg);
}
