:root {
  /* fontsizes */
  --font-normal: 1em;
  --font-small: 0.875em;
  --font-heading-1: 3em;
  --font-heading-2: 2em;
  --font-heading-3: 1.5em;
  --font-heading-4: 1.25em;
  --font-heading-5: 1.125em;

  /* colors */
  --color-primary: #EDDD3E;
  --color-font: #12353C;
  --color-hover: color(var(--color-font) lightness(38%) saturation(70%));
  --color-accordion-background: #faf7f5;

  /* transition speed */
  --transition-speed: 0.4s;

  /* textspacing */
  --line-height: 1.6em;
  --line-height-small: 1.2em;
  --letter-spacing: .5px;

  /* grid */
  --grid-main-width: 40rem;
  --grid-aside-width: 20rem;
  --grid-pop-up: 20rem;

  /* gutters */
  --gutter-default: 16px;
  --gutter-large: 48px;

  /* header */
  --header-padding: 75px;
}
