@import '../../../node_modules/baguettebox.js/dist/baguetteBox.min.css';

.gallery__item {
  display: inline-block;
  width: calc( (100% - ( var( --gutter-default ) * 2 )) / 3 );
  margin-bottom: var(--gutter-default);
  text-decoration: none;
}

.gallery__item.gallery__bottom-row {
  margin-bottom: 0;
}

.gallery__item:nth-of-type(3n + 2), .gallery__item:nth-of-type(3n + 3) {
  margin-left: var(--gutter-default);
}

.gallery__item:first-child:nth-last-child(1) {
    width: 100%;
}

.gallery__item:first-child:nth-last-child(2),
.gallery__item:first-child:nth-last-child(2) ~ .gallery__item {
    width: calc( (100% - var( --gutter-default )) / 2 );
}

.gallery__item img {
  display: block;
  width: 100%;
}

.gallery__caption {
  margin-top: 2px;
  font-size: var(--font-small);
}

.accordion .gallery__caption {
  display: none;
}

.gallery__caption .icon {
  font-size: calc( var(--font-small) * 0.75 );
}

.gallery__item:hover .icon {
  fill: var(--color-hover);
}
