.accordion + .accordion {
  margin-top: var(--gutter-default);
}

.accordion__header {
  display: block;
  width: 100%;
  padding: var(--gutter-default);
  border: 1px solid var(--color-font);
  transition: var(--transition-speed);
  cursor: pointer;
}

.accordion__header:hover {
  border-color: var(--color-hover);
}

.accordion__header:hover {
  color: var(--color-hover);
}

.accordion__header:hover .icon {
  fill: var(--color-hover);
}

.accordion__header .icon {
  float: right;
}

.accordion__panel {
  height: 0px;
  overflow: hidden;
  transition: var(--transition-speed);
}

.accordion__panel-content {
  padding: var(--gutter-default);
  background-color: var(--color-accordion-background);
  line-height: var(--line-height);
}

.accordion__panel-content > *:first-child {
  margin-top: 0;
}

.accordion__panel-content > *:last-child {
  margin-bottom: 0;
}

.accordion.open .accordion__header .icon {
  transform: rotate(180deg);
}
